<h1>This is such a great Score!</h1>
<p>Wow, your answer is <%= @guess %></p>

<%= " Your score is:#{@result[0]}, #{@result[1]}" %>


<!-- <a href="/new">Play Again</a> -->

<%= link_to "Play Again?", new_path %>